<style>
  .err {
    color: red;
  }
</style>
<div class="container">
  <div>
    <button (click)="back()" class="backbutton">Back</button>
  </div>
  <div class="container " style="width: 28%; border: 1px solid #ccc;">
    <form #f="ngForm" name="form" class="form animate" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
      <div class="loginheader">
        <h4>Supervisor </h4>
      </div>
      <label for="uname"><b>Username</b></label>
      <input type="text" class="form-control" placeholder="Enter Username" name="uname" [(ngModel)]="user.uname"
        #uname="ngModel" required>
      <div class="err" *ngIf="f.submitted && uname.invalid ">
        <div *ngIf="uname.errors.required">Username is required</div>
      </div>

      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" name="psw" [(ngModel)]="user.psw"
        #psw="ngModel" required>
      <div class="err" *ngIf="f.submitted && psw.invalid  ">
        <div *ngIf="psw.errors.required">Password is required</div>
      </div>
      <div>
        <br>
        <button type="submit" class="btn btn-primary">Login</button>
      </div>

      <div class="linkregi">
        <a routerLink='register'>Register</a>
      </div>

    </form>
  </div>

</div>